#newEmailBtn{
    -fx-background-image: url(/images/new_email.png);
}

#newFolderBtn{
    -fx-background-image: url(/images/new_folder.png);
}

#refreshEmailsBtn{
    -fx-background-image: url(/images/refresh_emails.png);
}

#downloadBtn{
    -fx-background-image: url(/images/download.png);
}

#sendEmailBtn{
    -fx-background-image: url(/images/email_send.png);
}

#addAttachmentBtn{
    -fx-background-image: url(/images/attachment_add.png);
}

#removeAttachmentBtn{
    -fx-background-image: url(/images/attachment_remove.png);
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

